.observer {
  height: 20px; // espacio para que el observer detecte el final
  // margin-bottom: 30px;
}

.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.fondo{
    position: absolute;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    top:  0;
    z-index: 0;
    min-width: 100%;
    height: 132px;
    background-color: #ffdada;
}

.btn-sign-out{
  position: absolute;
  top: 21%;
  right: 5%;
}

.recetas-container{
  position:relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
  row-gap: 2vh;
  overflow-y: auto;
}

.img-feed{
  position: relative;
  width: 100%;
  height: 70%;
  top: -1vh;
}

.receta-name-feed{
  position: relative;
  font-size: 2rem;
  top: -45px;
  text-align: center;
  color: #4D4D4D;
  min-height: 80px;

}

.truncate-multiline {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.modal-receta{
  position: fixed;
  display: flex;
  flex-direction: column;
  // margin-top: 70px;
  max-width: 700px;
  height: auto;
  height: 85%;
  min-width: 700px;
  background-color:#F6F6F6;
  z-index: 10;
  align-self: center;
}

.modal-publicacion{
  position: fixed;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  height: auto;
  height: 85%;
  min-width: 700px;
  background-color:#F6F6F6;
  z-index: 10;
  border-radius: 2rem;
  align-self: center;
}

.card {
  --border-radius: 0.2rem;
  width: 250px;
  height: 220px;
  font-family: "Arial";
  padding: 1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  background: #FFE6D7;
  position: relative;
}

.card > * + * {
  margin-top: 1.1em;
}


/* From Uiverse.io by Yaya12085 */ 
.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.2rem;
  background-color: #EEE;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 100%;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  fill: rgb(135, 144, 155);
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #fff;
  font-weight: 600;
}

.radio-inputs .radio input:checked + .logo-feed {
  fill: #181717;
  background-color: #fff;
  font-weight: 600;
}

.radio-inputs .radio input:checked + .logo-like {
  fill: #ff5b89;
  background-color: #fff;
  font-weight: 600;
}

.radio-inputs .radio input:checked + .logo-save {
  fill: gold;
  background-color: #fff;
  font-weight: 600;
}


.card-client {
    width: 13rem;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: #3c3b3b;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
    z-index: 1;
  }

  
  .user-picture {
    overflow: hidden;
    object-fit: cover;
    width: 8rem;
    height: 8rem;
    border: 4px solid #FFE7DA;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .user-picture img {
    width: 100%;
    fill: currentColor;
  }
  
  .name-client {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .name-client span {
    display: block;
    font-weight: 200;
    font-size: 16px;
  }
  
  .social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #7cdacc;
  }
  
  .social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
  }
  
  .social-media a:last-child {
    margin-right: 0;
  }
  
  .social-media a svg {
    width: 1.1rem;
    fill: currentColor;
  }
  
  /*-- Tooltip Social Media --*/
  .tooltip-social {
    background: #262626;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
  }
  
  .tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
  
  .social-media a .tooltip-social:after {
    border-top-color: #262626;
  }
  
  .social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
  }



  .btn-sign-out {
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
  }
  
  .btn-sign-out .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-sign-out .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .btn-sign-out .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .btn-sign-out:hover {
    background-color: var(--hover-color);
  }
  
  .btn-sign-out:hover .arrow {
    background: var(--secondary-color);
  }
  
  .btn-sign-out:hover .arrow:before {
    right: 0;
  }


  .Btn {
    position: absolute;
    left: 5%;
    top: 21%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border-radius: calc(45px/2);
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background: linear-gradient(144deg,#af40ff,#5b42f3 50%,#00ddeb);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    font-size: 2.2em;
    color: white;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.4em;
    font-weight: 500;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 155px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 5px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 15px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }
//-----------------------------------------------------------------------------------------------------------------------
//------------------------------------------------Stars------------------------------------------------------------------
.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
  
}

.rating:not(:checked) > label {
  float: right;
  cursor: default;
  font-size: 40px;
  color: #666; 
  position: relative;
  top: -100px;
  right: 40px;
}

.rating:not(:checked) > label:before {
  content: '★';
}

.rating > input:checked,
.rating > input:checked ~ label,
.rating > input:checked,
.rating > input:checked ~ label,
.rating > input:checked ~ label {
  color: #e58e09;
}



.rating > input:checked ~ label {
  color: #ffa723;
}
//-----------------------------------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------------------------------
.deleteButton {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  position: absolute;
  top: 70%;
  right: 0;
  overflow: hidden;
}
.deleteButton svg {
  width: 44%;
}
.deleteButton:hover {
  background-color: rgb(237, 56, 56);
  overflow: visible;
}
.bin path {
  transition: all 0.2s;
}
.deleteButton:hover .bin path {
  fill: #fff;
}
.deleteButton:active {
  transform: scale(0.98);
}
.tooltip {
  --tooltip-color: rgb(41, 41, 41);
  position: absolute;
  top: -40px;
  background-color: var(--tooltip-color);
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 8px 12px;
  font-weight: 600;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.105);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s;
}
.tooltip::before {
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  content: "";
  background-color: var(--tooltip-color);
  bottom: -10%;
}
.deleteButton:hover .tooltip {
  opacity: 1;
}
