<div class="titulo-container">
    <h1 class="titulo rouge-script">¡Qué Cocino Hoy?</h1>
</div>
<div class="main_wrapper">

    <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
      <div class="wheel"></div>
      <div class="hamster">
        <div class="hamster__body">
          <div class="hamster__head">
            <div class="hamster__ear"></div>
            <div class="hamster__eye"></div>
            <div class="hamster__nose"></div>
          </div>
          <div class="hamster__limb hamster__limb--fr"></div>
          <div class="hamster__limb hamster__limb--fl"></div>
          <div class="hamster__limb hamster__limb--br"></div>
          <div class="hamster__limb hamster__limb--bl"></div>
          <div class="hamster__tail"></div>
        </div>
      </div>
      <div class="spoke"></div>
      
      
      <div class="text_404">
          <div class="text_4041">4</div>
          <div class="text_4042">0</div>
          <div class="text_4043">4</div>
        </div>
    </div>
    
    <button>
      <span class="button_top" [routerLink]="['']" > Volver </span>
    </button>
    
  </div>
  