.g_id_signin {
    display: flex !important;
    z-index: 100;
  }

  #google-signin-btn {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }