
<div class="background"></div>

<div class="header">
    <h1 class="titulo rouge-script">¡Qué Cocino Hoy?</h1>
    <div class="cont-btn-header">
        <button class="btn-header">¿Quién Soy?</button>
        <button class="btn-header">Contacto</button>
        <button class="btn-header"(click)="auth.flagLogin=true" *ngIf="!auth.usuario">Login</button>
        <button class="btn-header"(click)="flagPerfil=true" *ngIf="auth.usuario">Perfil</button>
    </div>
</div>

<div class="container">
    <div class="blur" *ngIf="flagPerfil"></div>
    <!-- #region VENTANA MODAL PERFIL -->
    <div class="modal-perfil" *ngIf="flagPerfil!=false" appClickOutside (outside)="recibirFlag($event, 'perfil')">
        <app-perfil></app-perfil>
    </div>
    <!-- <div class="modal-perfil" appClickOutside (outside)="recibirFlag($event, 'perfil')">
        <app-perfil></app-perfil>
    </div> -->
    <!-- #endregion -->
</div>
<app-home></app-home>
    <!-- <router-outlet /> -->