/* You can add global styles to this file, and also import other style files */
// 
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Honk&family=Knewave&family=Lugrasimo&family=Modak&family=Rampart+One&family=Rouge+Script&display=swap');
.rouge-script {
    font-family: "Rouge Script", serif;
    font-weight: 400;
    font-style: normal;
  }