.observer {
    height: 20px; // espacio para que el observer detecte el final
  }

.linea-guia{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 15%;
    width: 70%;
    height: auto;
    min-height: 100%;
    min-width: 700px;
    background-color:#F6F6F6;
    padding-bottom: 5%;
}

.header{
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 700px;
  width: 70%;
  height: 50px;
  background-color: #F6F6F6;
  min-width: 700px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.header .titulo{
  font-size: 5vh;
  position: relative;
  left: 10px;
}

.cont-btn-header{
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: flex-end;
  gap: 10px;
}

.btn-header{
  background-color:#00000000;
  outline: none;
  position: relative;
  border: none;
  right: 0;
  cursor: pointer;
  transition: 100ms;
}

.btn-header:active{
  transform: translateY(5px);
}

.titulo-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.titulo{
    font-size: 15vh;
    color: #A69393;
    z-index: 1;
}

.logo{
  position: absolute;
  top: 50px;
  z-index: 0;
}

.btn-container{
    position:relative;
    width: 80%;
    height: 10%;
    transform: translateY(50%);
    left: 10%;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.recetas-container{
    position:relative;
    width: 90%;
    left: 5%;
    top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    row-gap: 2vh;
}

.img-feed{
    position: relative;
    width: 100%;
    height: 70%;
    top: -1vh;
}

.receta-name-feed{
    position: relative;
    font-size: 2rem;
    top: -45px;
    text-align: center;
    color: #4D4D4D;
    min-height: 80px;

}

.truncate-multiline {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

.modal-receta{
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    max-width: 700px;
    height: auto;
    height: 85%;
    min-width: 700px;
    background-color:#F6F6F6;
    z-index: 10;
    align-self: center;
  }


.blur{
    backdrop-filter: blur(5px) saturate(126%);
    -webkit-backdrop-filter: blur(5px) saturate(126%);
    background-color: rgba(38,23,23, 0);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.18);
    height: 100%;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: hidden;
}

.modal-login{
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  max-width: 700px;
  height: auto;
  height: 85%;
  min-width: 700px;
  background-color:#F6F6F6;
  z-index: 10;
  align-self: center;
}
//-----------------------------------------------------------------------------------------------------------------------
//------------------------------------------------Buscador---------------------------------------------------------------
.container-input {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .input {
    width: 50%;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
  }
  
  .container-input svg {
    position: absolute;
    top: 50%;
    left: 24.3%;
    transform: translate(0, -50%);
  }
  
  .input:focus {
    opacity: 1;
    border-color: #1755ff;
  }

  .lista-recetas{
    position: relative;
    padding: 5px;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #ffffff00;
    height: auto;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 50%;
    gap: 5px;
    left: 25%;
  }
//-----------------------------------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------------------------------

//-----------------------------------------------------------------------------------------------------------------------
//-------------------------------------------------Botones---------------------------------------------------------------
  .button-ordenar {
    padding: 1.3em 1em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 100%;
  }
  
  .button-ordenar:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .button-ordenar:active {
    transform: translateY(-1px);
  }

  //Botones de ingredientes filtrados

  .ing-filtrado{
    padding: 0.5em 1em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: fit-content;
    height: fit-content;
    // margin-top: 5px;
  }

  .ing-filtrado:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
  }

  //Botones de ingredientes

  .button-ing {
    --main-focus: #2d8cf0;
    --font-color: #323232;
    --bg-color-sub: #dedede;
    --bg-color: #eee;
    --main-color: #323232;
    position: relative;
    width: 90%;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .button-ing, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button-ing .button__text {
    color: var(--font-color);
    font-weight: 600;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word; 
  }
  
  .button-ing .button__icon {
    position: absolute;
    right: 0;
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-ing .svg {
    width: 20px;
    fill: var(--main-color);
  }
  
  .button-ing:hover {
    background: var(--bg-color);
  }
  
  .button-ing:hover .button__text {
    color: transparent;
  }
  
  .button-ing:hover .button__icon {
    width: 100%;
    transform: translateX(0);
  }
  
  .button-ing:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
  }
//-----------------------------------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------------------------------

//-----------------------------------------------------------------------------------------------------------------------
//-------------------------------------------------Card------------------------------------------------------------------
.card {
    --border-radius: 0.2rem;
    width: 250px;
    height: 220px;
    font-family: "Arial";
    padding: 1rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    background: #FFE6D7;
    position: relative;
  }
  
  .card > * + * {
    margin-top: 1.1em;
  }

//-----------------------------------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------------------------------

//-----------------------------------------------------------------------------------------------------------------------
//------------------------------------------------Stars------------------------------------------------------------------
.rating:not(:checked) > input {
    position: absolute;
    appearance: none;
    
  }
  
  .rating:not(:checked) > label {
    float: right;
    cursor: default;
    font-size: 40px;
    color: #666; 
    position: relative;
    top: -100px;
    right: 40px;
  }
  
  .rating:not(:checked) > label:before {
    content: '★';
  }
  
  .rating > input:checked,
  .rating > input:checked ~ label,
  .rating > input:checked,
  .rating > input:checked ~ label,
  .rating > input:checked ~ label {
    color: #e58e09;
  }
  

  
  .rating > input:checked ~ label {
    color: #ffa723;
  }
//-----------------------------------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------------------------------

//-----------------------------------------------------------------------------------------------------------------------
//----------------------------------------------Filtrador----------------------------------------------------------------

.filtro-card {
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100% - max(830px, 85%)); /* Ocupa el espacio restante */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.chat-header {
  background-color: #401B01;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chat-window {
  height: 220px;
  overflow-y: scroll;
  background-color: #A69393;
}

.message-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
}

.lista-ingredientes{
  position: absolute;
  padding: 5px;
  bottom: 47px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // align-items: center;
  background: #dadada7a;
  height: auto;
  max-height: 60%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  gap: 5px;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #A69393;
  border-top: 1px solid #ccc;
}

.message-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  background-color: #A69393;
  font-size: 14px;
}
//-----------------------------------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------------------------------

//-----------------------------------------------------------------------------------------------------------------------
//-----------------------------------------------Card buscados-----------------------------------------------------------
.card-receta {
  width: 100%;
  height: 80px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  gap: 15px;
}
.wave {
  position: absolute;
  transform: rotate(90deg);
  left: -31px;
  top: 32px;
  width: 80px;
  fill: #ffa30d3a;
}
.icon-container {
  width: 100px;
  height: 70px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #ffa30d48;
  margin-left: 8px;
}

.img-buscador{
  position: relative;
  width: 100px;
  height: 70px;
}

.message-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}
.message-text, .sub-text {
  margin: 0;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.message-text {
  color: #db970e;
  font-size: 17px;
  font-weight: 700;
}
.sub-text {
  font-size: 14px;
  color: #555;
}
